<% layout('layout') %>
<div class="hero-body" style="align-items: flex-start;"><!--Cuerpo-->
	<div class="container has-text-centered">
	<div class="column is-8 is-offset-2">
	<% for(var claim of claims) { %>
		<article class="media">
			<figure class="media-left">
			<p class="image is-64x64">
				<img src="https://www.fluigent.com/wp-content/uploads/2018/07/default-avatar-BW.png">
			</p>
			</figure>
			<div class="media-content">
			<div class="content">
				<p>
				<strong><%= claim.name %></strong>
				<br>
				<%= claim.claim %>
				<br>
				<small>Publicado el <%= (claim.createdAt).getDate() %>/<%= (claim.createdAt).getMonth() + 1 %> del <%= (claim.createdAt).getFullYear() %></small>
				</p>
			</div>
			
			<% for(var answer of answers) { %>
				<% if(answer.claimId === claim.id) { %>
					<article class="media">
						<figure class="media-left">
						<p class="image is-48x48">
							<img src="https://www.usukraine.org/wp-content/plugins/our-team-enhanced/assets/images/default-avatar.png">
						</p>
						</figure>
						<div class="media-content">
						<div class="content">
							<p>
							<strong>Respuesta Administrador</strong>
							<br>
							<%= answer.body %>
							<br>
							<small>Respondido el <%= (answer.createdAt).getDate() %>/<%= (answer.createdAt).getMonth() + 1 %> del <%= (answer.createdAt).getFullYear() %></small>
							</p>
						</div>
						</div>
					</article>
				<% } %>
			<% } %>
			<a href="/claims/<%= claim.id %>">Responder Reclamo</a>
			</div>
		</article>
	<% } %>
	  </div>
	  </div>
</div>