<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tres R</title>
		<link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/CSS/index.css">
        <style>
            .hero-body {
            font-family: 'Open Sans', serif;
            font-size: 14px;
            font-weight: 300;
            }
            p {
            font-weight: 700;
            }
            p.subtitle {
            padding-top: 1rem;
            }
		</style>
</head>
<body>
	<section class="hero is-fullheight is-default is-bold">
	  <div class="hero-head" style="background-color: #686256;">
	      <nav class="navbar is-dark navbar-shadow"> <!--Navegador cabecera-->
          <div class="container">
              <div class="navbar-brand"><!--Parte derecha del navbar-->
                  <a class="navbar-item" href="/"><!--Logo que estará en la derecha-->
                        <span class="icon">
			              	<i class="fab fa-apple"></i>
                        </span>
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu"><!--Ícono desplegable con el contenido de navbarMenu-->
                  <span></span>
                  <span></span>
                  <span></span>
                  </span>
              </div>
              <div id="navbarMenu" class="navbar-menu"><!--Parte principal del navbar-->
                  <div class="navbar-end is-hidden-touch"><!--Parte final del navbar-->
                        <a class="navbar-item" href="/map">Mapa</a><!--Pestaña actual, por así decirlo-->
                        <% if (user) { %>
                            <a class="navbar-item" href="/users/me"><%= user.name %></a>
                            <a class="navbar-item " href="/claims/me">Mis Reclamos</a>
                        <% } %>
                        <a class="navbar-item " href="/materials">Reciclaje</a>
                        <a class="navbar-item " href="/claims/all">Reclamos</a>
                        <% if (!user) { %>
                            <a class="navbar-item " href="/users/login">Iniciar sesion</a>
                        <% } else { %>
                            <a class="navbar-item" href="/users/logout">Cerrar sesion</a>
                        <% } %>
                  </div>
                        <div class="navbar-end is-hidden-desktop has-background-grey-darker">
                            <nav class="level has-background-grey-darker">
                            <div class="level-item has-text-centered">
                            <figure class=" image is-128x128 is-hidden-desktop" style="margin-top:10px;"><img class="is-rounded" src="https://www.fluigent.com/wp-content/uploads/2018/07/default-avatar-BW.png" alt="como debe ser pes tio : Usuario"></figure></div></nav>
                            <a class="navbar-item button is-dark has-text-left" href="/map">Mapa</a><!--Pestaña actual, por así decirlo-->
                            <% if (user) { %>
                                <a class="navbar-item button is-dark has-text-left" href="/users/me"><%= user.name %></a>
                                <a class="navbar-item button is-dark has-text-left" href="/claims/me">Mis Reclamos</a>
                            <% } %>
                            <a class="navbar-item button is-dark has-text-left" href="/materials">Reciclaje</a>
                            <a class="navbar-item button is-dark has-text-left" href="/claims/all">Reclamos</a>
                            <% if (!user) { %>
                                <a class="navbar-item button is-dark has-text-left" href="/login">Iniciar sesion</a>
                            <% } else { %>
                                <a class="navbar-item buttton is-dark has-text-left" href="/users/logout">Cerrar sesion</a>
                            <% } %>
                    </div>
              </div>
          </div>
      </nav>
  </div>
  <!-- Section flash messages -->
    <%- messages('message_template', locals) -%>
    <% if( errors ) { %>
        <p class="text-danger">Por favor solucionar los siguientes errores.</p>
        <ul>
            <% errors.forEach( function( error ) { %>
                <li class="text-danger">
                        <%= error.msg %>
                </li>
            <% }) %>
        </ul>
    <% } %>
    <%- body -%>
</section>
    <script src="/js/bulma.js"></script>
</body>
