<% layout('layout') %>
<link rel="stylesheet" href="/CSS/userProfile.css">
<div class="hero-body"  style="align-items: flex-start; justify-content: center;"><!--Cuerpo-->
    <div class="container has-text-centered">
        <h3 class="title has-text-grey">Perfil del usuario</h3>
        <p class="subtitle has-text-grey"><sub>Gracias por unirse al cambio</sub></p>
    <article class="media">
        <figure class="media-left">
        <p class="photo-profile image">
        <img class="is-rounded " src="https://pbs.twimg.com/profile_images/966708606203809802/LqcC2Uno_400x400.jpg">
        </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <div class="columns is-multiline">
                    <div class="column is-full">
                        <div class="notification data-content">
                            <p class="is-size-5">
                                Nombre: <%= user.name %>
                            </p>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="notification data-content">
                            <p class="is-size-5">
                                Apellidos: <%= user.surname %>
                            </p>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="notification data-content">
                            <p class="is-size-5">
                                Teléfono: <%= user.phone %>
                            </p>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="notification data-content">
                            <div class="is-size-5">
                                <strong>
                                    DNI: <%= user.dni %>      
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="notification data-content">
                            <p class="is-size-5">
                                Correo Eléctronico: <%= user.email %>
                            </p>
                        </div>
                    </div>
                    <div class="column is-full">
                    <div class="notification points">
                        <p class="is-size-5">
                            Puntos: <%= user.points %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
            <div class="media-right"></div>
    </article>
    </div>
</div>